
.container-fluid{
  height:;
  position: relative;
  background-image: url("../img/1181242105145.png");
  background-size: 50%;
  margin: 0%;
  padding: 0px;
  height: 800px;
  padding-top: 20px;
}

.cell {
display: block;
position: absolute;
width: 50px;
height: 50px;
}

.box {
  background-color: Navy;
  height: 650px;
  width: 800px;
  padding: 0px;
  border: 1px solid white;
  margin-top: 1%;
  margin-left: 30%;
  position: relative;
}
