
.container-fluid{
  height:;
  position: relative;
  background-image: url("../img/1181242105145.png");
  background-size: 50%;
  margin: 0%;
  padding: 0px;
  height: 790px;
  padding-top: 20px;
  font-family: 'Press Start 2P', cursive;
}

.cell {
display: block;
position: absolute;
width: 50px;
height: 50px;
}

.box {
  background-color: #050505;
  height: 650px;
  width: 800px;
  padding: 0px;
  border: 1px solid white;
  margin-top: 1%;
  margin-left: 30%;
  position: relative;
}

.startGame{
  position: absolute;
  top: 570px;
  left: 275px;
  z-index: 5;
  margin: 0;
  padding: 0;
  border: 0px;
}

.start{
  height: 40px;
}
.intro{
  position: absolute;
  top: 0px;
  left: 70px;
  height: 500px;

}
.player{
  position: absolute;
  font-size: 1.5em;
  top: 12px;
  left: 50px;
  z-index: 5;
  margin: 0;
  padding: 0;
  border: 0px;
  color: white;
}

.score{
  position: absolute;
  font-size: 1.5em;
  top: 12px;
  left: 550px;
  z-index: 5;
  margin: 0;
  padding: 0;
  border: 0px;
  color: white;
}

.lives{
  position: absolute;
  font-size: 1.5em;
  top: 600px;
  left: 600px;
  z-index: 5;
  margin: 0;
  padding: 0;
  border: 0px;
  color: white;
}

.pressStart{
  position: absolute;
  font-size: 2em;
  top: 500px;
  left: 150px;
  z-index: 5;
  margin: 0;
  padding: 0;
  border: 0px;
  color: white;
}

.gameOver{
  position: absolute;
  height: 700px;
  top: 0px;
  left: 0px;
  z-index: 10;
}
